body {
    background: url("bg_sky.jpg");
}


main a{
    color: grey;
    margin-inside: 10px;
    text-decoration: none;
}


main a img{
    display: block;
    transition: 0.6s;
}


main a img:hover {
    transform: scale(1.05);
}


main .bi-bi-heart, .bi-bi-heart-fill{
    color: red;
}


main .bi-bi-bookmark-check, .bi-bi-bookmark-check-fill{
    color: black;
}


main div div div div div{
    background: none;
}


main input{
    color: black;
}


main form{
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-top: 5px;
    width: auto;
}


main div.bottom-page-text {
    background: #4d4d4d;
    color: grey;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}


main div.card{
    background: url("bg_card_2.jpg");
    width: 100%;
    height: 100%;
}


main div.card-news{
    background: url("bg_card_2.jpg");
    width: 100%;
    height: 100%;
    margin: 15px;
}


main div.card-header-new{
    text-indent: 50px;
    color: red;
    text-decoration-line: blink;
}


main div.comment-block{
    display: block;
    border-color: white;
    border-style: groove;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 15px;
    margin-inside: 5px;
}


main div.comment{
    margin: 10px;
}


main button.btn-close{
    float: right;
    display: block;
    transition: 0.5s;
}


main button.btn-close:hover{
    transform: scale(1.2);
}


aside a.nav-link{
    display: block;
    transition: 0.5s;
}


aside a.nav-link:hover{
    transform: scale(1.075);
}


aside a.navbar-brand{
    display: block;
    transition: 0.5s;
}


aside a.navbar-brand:hover {
    transform: scale(1.1);
}


aside div.button-exit{
    margin-left: 10px;
}


aside ul.dropdown-menu{
    width: 180px;
}


aside a.dropdown-item{
    padding: 7px;
}


aside .btn-outline-danger{
    margin-left: 25px;
    margin-right: 25px;
}


aside .btn-outline-primary{
    margin-left: 30px;
    margin-right: 30px;
}


aside button.btn-close{
    float: right;
    display: block;
    transition: 0.5s;
}


aside button.btn-close:hover{
    transform: scale(1.2);
}


aside form{
    padding-left: 15px;
}