body {
    background: url("bg_sky.jpg");
}


main a{
    margin-inside: 15px;
    text-decoration: none;
    color: red;
}


main div div div div {
    background: url("bg_card_2.jpg");
    width: 100%;
    height: 100%;
}


main div div div div div{
    background: none;
}


main input{
    color: black;
}


main form{
    padding: 0.5%;
    margin-top: 5px;
}


main a img {
    display: block;
    transition: 0.6s;
}


main a img:hover {
    transform: scale(1.05);
}

