{% extends 'planes/main_template.html' %}

{% block add_category %}

<div class="container">
    <form method="post" action="{% url 'add_category' %}">
        {% csrf_token %}

        <div class="admin-add">
            <div class="card">
                <div class="card-body">

                    <hr style="height:3px">
                    <center><p><h3>Добавить категорию</h3></p></center>
                    <hr style="height:3px">

                    <label class="required" for="category_name">Категория:</label>
                    <input type="text" name="category_name" class="vTextField" maxlength="50" required="" id="category_name"><br>

                    <center><input class="submit-button" type="submit" value="Отправить"></center>

                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}