{% extends 'planes/main_template.html' %}

{% block add_news %}

<div class="container">
    <form method="post" action="{% url 'add_news' %}">
        {% csrf_token %}

        <div class="admin-add">
            <div class="card">
                <div class="card-body">

                    <hr style="height:3px">
                    <center><p><h3>Добавить новость</h3></p></center>
                    <hr style="height:3px">

                    <label class="required" for="title">Заголовок:</label>
                    <input type="text" name="title" class="vTextField" maxlength="50" required="" id="title"><br>

                    <label class="required" for="text">Текст</label>
                    <textarea rows="5" cols="70" id="text" name="text"></textarea><br>

                    <center><input class="submit-button" type="submit" value="Отправить"></center>

                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}