{% extends 'planes/main_template.html' %}

{% block plane_info %}

<div class="container">
  <h4></h4>
  <div class="col-mb-3">
    <div class="card">
      <div class="card-body">
        <img src={{ plane.image.url }} class="card-img-top" width=”600rem”>
        <h3 class="card-title" align="center">{{ plane.model }}</h3>
        <h4 class="card-text"> Информация:</h4>

        <h5 class="card-text">
          <p>
            Нация: {{ plane.nation }}
            <img src={{ plane.nation.image.url }} class="fit-picture" height="15px" width="20px">
          </p>
        </h5>
        <h5 class="card-title">
          <p>
            Тип: {{ plane.category }}
          </p>
        </h5>
        <h5 class="card-title">
          <p>
            Скорость: {{ plane.cruising_speed }} км/ч
          </p>
        </h5>
        <h5 class="card-title">
          <p>
            Конструктор: {{ plane.constructor }}
          </p>
        </h5>
        <h5 class="card-title">
          <p>
            Тип двигателя: {{ plane.engine_type }}
          </p>
        </h5>
        <h5 class="card-title">
          <p>
            Всего самолётов сделано: {{ plane.production_volume }}
          </p>
        </h5>

        <h4 class="card-title">
          Справка:
          <h5>
            <p>{{ plane.reference }}</p>
          </h5>
        </h4>

        {% if plane.comments.all %}
          <h6>---------------------------------------------------------------------------------------------Comments-------------------------------------------------------------------------------------------</h6>
          {% for comment in plane.comments.all %}
            <h5 class="card-title">{{ comment.text }}</h5>

            {% if comment not in user.liked_comment.all %}
              <a href="{% url 'add-comment-like' id=comment.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
              </a>
            {% else %}
              <a href="{% url 'add-comment-like' id=comment.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </a>
            {% endif %}
            {{ comment.likes }}
            commented by {{ comment.author }}

          {% endfor %}
        <h6>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>
        {% else %}
        <h6>-------------------------------------------------------------------------------------------No comments-----------------------------------------------------------------------------------------</h6>
        {% endif %}

<!--        <form action="handler.php">-->
<!--          <textarea name="comment" rows="1"></textarea>-->
<!--          <input type="submit">-->
<!--        </form>-->

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <input class="btn btn-primary" type="button" onclick="history.back();" value="Return"/>
        </div>

      </div>
    </div>
  </div>
  <h4></h4>
</div>

{% endblock %}